.container {
    width: 90%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    bottom: 0;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.cardImg {
    width: 100px;
    margin: 5px;
}

#attackCards {
    margin-top: 20px;
    margin-left: 10.8%;
    width: 78%;
    min-height: 168.667px;
    border:2px solid #d4af37;
}

#defendedCardsContainer {
    width: 78%;
    margin-top: 30px;
    margin-left: 10.8%;
    min-height: 204px;
}

#blockedCards {
    display: inline-block;
}

#blockingCards {
    margin-top: -125px;
}

#handViewContainer {
    flex-wrap: nowrap;
}

#handView {
    margin-top: 35px;
    min-width: 800px;
}

#trumpCardBox {
    text-align: right;
    margin-right: 25px;
}

#okayButton {
    margin-left: 13px;
    margin-top: 25px;
    font-size: 15px;
}

#undoButton {
    margin-left: 12px;
    margin-top: 30px;
    font-size: 15px;
}

#buttonRight {
    margin-top: 85px;
    font-size: 15px;
}

#takeButton {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 15px;
}

#leftButtonsContainer {
    margin-bottom: 30px;
    float: left;
    margin-right: 30px;
    margin-top: -40px;
}

#deckInfo {
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 0;
}

#gameInfo {
    left: 15px;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#deckInfo {
    font-weight: bold;
    font-size: 16px;
}

#trumpCardLabel {
    text-align: right;
    color: white;
    font-size: 16px;
    padding-right: 32px;
    margin-bottom: 0;
}

#poopImg {
    width: 35px;
    margin-left: 15px;
}

#thumpUpImg {
    width: 25px;
    margin-left: 15px;
}

#undoArrowImg {
    width: 25px;
    margin-left: 15px;
}

body {
    background-color: green;
}

@media (max-width: 1790px) {
    .cardImg {
        width: 95px;
    }

    #blockingCards {
        margin-top: -115px;
    }

    #trumpCardLabel {
        font-size: 16px;
    }

    #deckInfo {
        font-size: 16px;
    }

    #gameInfo p {
        font-size: 16px;
    }

    #takeButton {
        font-size: 16px;
    }

    #okayButton {
        font-size: 16px;
    }

    #undoButton {
        font-size: 16px;
    }

    #poopImg {
        width: 35px;
    }

    #thumpUpImg {
        width: 25px;
    }

    #undoArrowImg {
        width: 25px;
    }
}

@media (max-width: 1720px) {
    .cardImg {
        width: 90px;
    }

    #blockingCards {
        margin-top: -115px;
    }

    #trumpCardLabel {
        font-size: 15px;
    }

    #deckInfo {
        font-size: 15px;
    }

    #gameInfo p {
        font-size: 15px;
    }

    #takeButton {
        font-size: 15px;
    }

    #okayButton {
        font-size: 15px;
    }

    #undoButton {
        font-size: 15px;
    }

    #poopImg {
        width: 30px;
    }

    #thumpUpImg {
        width: 20px;
    }

    #undoArrowImg {
        width: 20px;
    }
}

@media (max-width: 1632px) {
    .card-element {
        width: 85px;
    }
}

@media (max-width: 1561px) {
    .card-element {
        width: 80px;
    }
}