#addPlayerContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addPlayerLabel {
    color: white;
}

#text {
    background-color: white;
}

#playerNameLabel {
    margin-top: 20px;
    color: white;
    font-size: larger;
    margin-left: 26%;
}

#gameRulesContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitButton {
    padding-left: 10px;
    font-size: large;
    height: 38px;
}

#startGameContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoTextContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoText {
    color: white;
    font-size: x-large;
}

body {
    background-color: green;
}