#text {
    background-color: white;
}

#gameRulesContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startGameContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#connectedPlayersContainer {
    font-size: x-large;
    font-weight: bold;
    color: white;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connectedPlayersParagraph {
    font-size: medium;
}

body {
    background-color: green;
}