@import de.htwg.se.durak.util.cardConverter._
@import de.htwg.se.durak.model.cardComponent.CardInterface
@(controller: de.htwg.se.durak.controller.controllerComponent.ControllerInterface)

@counter = @{
    0
}

@numberOfPlayers = @{
    controller.players.size
}

@gameStatus = @{
    controller.gameStatus
}

@deckSize = @{
    controller.deckSizeToString
}

@activePlayer = @{
    controller.activePlayerToString
}

@trumpCard = @{
    val trumpCardAsString = controller.trumpCardToString
    val trumpCardArray: Array[String] = trumpCardAsString.split(",")
    var trumpCard: Array[CardInterface] = Array.empty

    CardStringConverter.parseCardStringToCardObject(trumpCardAsString)
}

@attacker = @{
    controller.currentAttackerToString
}

@defender = @{
    controller.currentVictimToString
}

@neighbor = @{
    controller.currentNeighbourToString
}

@attackCards = @{
    val attackCardsAsString = controller.currentAttackCardsToString
    val attackCardsArray: Array[String] = attackCardsAsString.split(",")
    var attackCards: Array[CardInterface] = Array.empty

    attackCardsArray.foreach(cardString => {
        if(!(cardString == "")) {
            val card = CardStringConverter.parseCardStringToCardObject(cardString.trim)
            attackCards = attackCards :+ card
        }
    })

    attackCards
}

@blockedCards = @{
    var blockedCards: Array[CardInterface] = Array.empty

    for((blockCard, blockingCard) <- controller.getCurrentBlockedByMap) {
        blockedCards = blockedCards :+ blockCard
    }

    blockedCards
}

@blockingCards = @{
    var blockingCards: Array[CardInterface] = Array.empty

    for((blockCard, blockingCard) <- controller.getCurrentBlockedByMap) {
        blockingCards = blockingCards :+ blockingCard
    }

    blockingCards

}

@handCards = @{
    val handCardsAsString = controller.activePlayerHandCardsToString
    val handCardsArray: Array[String] = handCardsAsString.split(",")
    var handCards: Array[CardInterface] = Array.empty

    handCardsArray.foreach(cardString => {
        if(!(cardString == "")) {
            val card = CardStringConverter.parseCardStringToCardObject(cardString)
            handCards = handCards :+ card
        }
    })

    handCards
}

@winners = @{
    controller.winnersToString
}


@main("HTWG Durak") {

    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/durak.css")' />
    <div id="gameContainer" class="container-fluid">

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p id="deckInfo">Cards in Deck: @deckSize</p>
            </div>
            <div class="col">
                <p id="trumpCardLabel"><b>Trump Card:</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="gameInfo">
                    <p id="playerName">Your name:</p>
                    <p id="activePlayer">Active: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@activePlayer</p>
                    <p id="attackingPlayer">Attacker: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@attacker</p>
                    <p id="defendingPlayer">Victim: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@defender</p>
                    <p id="neighbor">Neighbor: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@neighbor</p>

                </div>
            </div>
            <div class="col"></div>
            <div class="col" id="trumpCardBox">
                <img id="trumpCard" class="cardImg" src=@{
                    routes.Assets.versioned("images/" + CardImgConverter.getCardColorPath(trumpCard)
                            + CardImgConverter.getCardValuePath(trumpCard))
                    }/>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="attackCards" ondrop="handleHandCardsOnDrop(event)"  ondragover="enableDrop(event)" class="scrollmenu" >
                    @for((card, i) <- attackCards.zipWithIndex) {
                        <img id=@("attackCard" + i) class="cardImg" src=@{
                            routes.Assets.versioned("images/" + CardImgConverter.getCardColorPath(card)
                                    + CardImgConverter.getCardValuePath(card))
                        } />
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="scrollmenu" id="defendedCardsContainer">
                    <div>

                        <div id="blockedCards">
                        @for((card, i) <- blockedCards.zipWithIndex) {
                            <img id=@("blockedCard" + i) class="cardImg" src=@{routes.Assets.versioned("images/" + CardImgConverter.getCardColorPath(card)
                                        + CardImgConverter.getCardValuePath(card))} />
                            }
                        </div>

                        <div id="blockingCards">
                        @for((card, i) <- blockingCards.zipWithIndex) {
                            <img id=@("blockingCard" + i) class="cardImg" src=@{
                                routes.Assets.versioned("images/" + CardImgConverter.getCardColorPath(card)
                                        + CardImgConverter.getCardValuePath(card))
                            } />
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="handViewContainer">
            <div class="col-md-auto">
                <div id="leftButtonsContainer">
                    <div>
                        <button id="okayButton" class="btn btn-dark" type="button" onclick="playOk()">
                            <b>OKAY</b>
                            <img id="thumpUpImg" src=@routes.Assets.versioned("images/thump_up.png")>
                        </button>
                    </div>
                    <div>
                        <button id="takeButton" onclick="takeCards()" class="btn btn-dark">
                            <b>TAKE</b>
                            <img id="poopImg" src=@routes.Assets.versioned("images/poop.png")>
                        </button>
                    </div>
                    <div>
                        <button id="undoButton" class="btn btn-dark" onclick="undo()" type="button">
                            <b>UNDO</b>
                            <img id="undoArrowImg" src=@routes.Assets.versioned("images/undo_arrow.png")>
                        </button>
                    </div>
                </div>
            </div>
            <div id="handView" ondrop="handleHandCardsOnDrop(event)" class="col-md-5">
                <div class="scrollmenu">
@*                @for((card, i) <- handCards.zipWithIndex) {*@
@*                    <img id=@("handCard" + i) draggable="true" ondragstart="handleCardOnDrag(event)" class="cardImg" src=@{*@
@*                        routes.Assets.versioned("images/" + CardImgConverter.getCardColorPath(card)*@
@*                                + CardImgConverter.getCardValuePath(card))*@
@*                    } />*@
@*                }*@
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/durak.js")" ></script>
}
