@import de.htwg.se.durak.util.cardConverter._
@import de.htwg.se.durak.model.cardComponent.CardInterface
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo

@(controller: de.htwg.se.durak.controller.controllerComponent.ControllerInterface, user: models.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader,
        messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@counter = @{
    0
}

@numberOfPlayers = @{
    controller.players.size
}

@gameStatus = @{
    controller.gameStatus
}

@deckSize = @{
    controller.deckSizeToString
}

@activePlayer = @{
    controller.activePlayerToString
}

@trumpCard = @{
    val trumpCardAsString = controller.trumpCardToString
    val trumpCardArray: Array[String] = trumpCardAsString.split(",")
    var trumpCard: Array[CardInterface] = Array.empty

    CardStringConverter.parseCardStringToCardObject(trumpCardAsString)
}

@attacker = @{
    controller.currentAttackerToString
}

@defender = @{
    controller.currentVictimToString
}

@neighbor = @{
    controller.currentNeighbourToString
}

@attackCards = @{
    val attackCardsAsString = controller.currentAttackCardsToString
    val attackCardsArray: Array[String] = attackCardsAsString.split(",")
    var attackCards: Array[CardInterface] = Array.empty

    attackCardsArray.foreach(cardString => {
        if(!(cardString == "")) {
            val card = CardStringConverter.parseCardStringToCardObject(cardString.trim)
            attackCards = attackCards :+ card
        }
    })

    attackCards
}

@blockedCards = @{
    var blockedCards: Array[CardInterface] = Array.empty

    for((blockCard, blockingCard) <- controller.getCurrentBlockedByMap) {
        blockedCards = blockedCards :+ blockCard
    }

    blockedCards
}

@blockingCards = @{
    var blockingCards: Array[CardInterface] = Array.empty

    for((blockCard, blockingCard) <- controller.getCurrentBlockedByMap) {
        blockingCards = blockingCards :+ blockingCard
    }

    blockingCards

}

@handCards = @{
    val handCardsAsString = controller.activePlayerHandCardsToString
    val handCardsArray: Array[String] = handCardsAsString.split(",")
    var handCards: Array[CardInterface] = Array.empty

    handCardsArray.foreach(cardString => {
        if(!(cardString == "")) {
            val card = CardStringConverter.parseCardStringToCardObject(cardString)
            handCards = handCards :+ card
        }
    })

    handCards
}

@winners = @{
    controller.winnersToString
}


@main("HTWG Durak") {
    <div id="gameContainer" class="container-fluid">
        <notification-toast id="toast"></notification-toast>

        <div class="row">
            <div class="col-xs-12">
                <p id="deckInfo">Cards in Deck: @deckSize</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div id="gameInfo">
                    <p id="playerName">Your name:</p>
                    <p id="activePlayer">Active: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@activePlayer</p>
                    <p id="attackingPlayer">Attacker: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@attacker</p>
                    <p id="defendingPlayer">Victim: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@defender</p>
                    <p id="neighbor">Neighbor: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@neighbor</p>

                </div>
            </div>
            <div class="col-xs-6">
                <p id="trumpCardLabel"><b>Trump Card:</b></p>
                <div id="trumpCardBox">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="attackCards" ondrop="handleHandCardsOnDrop(event)"  ondragover="enableDrop(event)" class="scrollmenu" >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="scrollmenu" id="defendedCardsContainer">
                    <div>

                        <div id="blockedCards">
                        </div>

                        <div id="blockingCards">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="handViewContainer">
            <div class="col-md-auto">
                <div>
                <div id="leftButtonsContainer">
                    <div>
                        <button id="okayButton" class="btn btn-primary" type="button" onclick="playOk()">
                            <b>OKAY</b>
                            <img id="thumpUpImg" src=@assets.path("images/thump_up.png")>
                        </button>
                    </div>
                    <div>
                        <button id="takeButton" onclick="takeCards()" class="btn btn-primary">
                            <b>TAKE</b>
                            <img id="poopImg" src=@assets.path("images/poop.png")>
                        </button>
                    </div>
                    <div>
                        <button id="undoButton" class="btn btn-primary" onclick="undo()" type="button">
                            <b>UNDO</b>
                            <img id="undoArrowImg" src=@assets.path("images/undo_arrow.png")>
                        </button>
                    </div>
                </div>

                <div id="handView" ondrop="handleHandCardsOnDrop(event)">
                    <div class="scrollmenu">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href='@assets.path("stylesheets/durak.css")' />
    <script src="@assets.path("javascripts/durak.js")" ></script>
    <script src="@assets.path("bower_components/webcomponentsjs/webcomponents-lite.js")"></script>
    <script src="@assets.path("javascripts/dragDropTouch.js")"></script>
    <link rel="import" href="@assets.path("bower_components/notification-toast/notification-toast.html")">
}
