@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.data._
@import forms.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo

@(user: models.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader,
        messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@implicitFieldConstructor = @{
    b3.vertical.fieldConstructor()
}

@main(messages("home.title"), Some(user)) {
    <div id="mainMenuContainer">
        <div id="gameRulesContainer">
            <a href="http://localhost:9000/about">
                <button id="rulesButton" class="btn btn-primary">
                    <b>Rules</b>
                </button>
            </a>
        </div>

        <div id="startGameContainer">
            <a href="http://localhost:9000/newGame">
                <button id="startGameButton" class="btn btn-primary">
                    <b>START GAME</b>
                </button>
            </a>
        </div>

        <div id="connectedPlayersContainer">
            <p>Connected players:</p>
            <div>
                <p id="connectedPlayersParagraph">
                </p>
            </div>
        </div>
    </div>

    <script src="@assets.path("javascripts/mainMenuDurak.js")" ></script>
    <script type="text/javascript+module" src="./src/registerServiceWorker.js"></script>
    <link rel="stylesheet" type="text/css" href='@assets.path("stylesheets/mainMenu.css")'/>
}
